<div class='note-body'>
	<div class='notices'>
		<span class='action'></span>
	</div>

	<h1 class='notes-heading'>Class Notes:</h1>

	<ul class='notes'>
		<li class='note'><span class='note-body'></span> <span class='note-date'></span><a href='/notes/ID' class='likeabutton' data-method='delete' rel='nofollow'>Remove</a></li>
	</ul>

	<script data-notes type="text/json">
		<%= @notes.to_json.gsub('/', '\\/').html_safe %>
	</script>

	<script data-yelp type='text/json'>
	</script>

	<div class='add-note'>
		<%= form_for @note do |f| %>
		  <%= f.text_area :text, placeholder: 'Write something down!', :cols => 30, :rows => 7 %>
		  <%= f.submit %>
		<% end %>
	</div>
</div>

<div class='yelp-container'>
	<div class='yelp-notices'>
		<span class='yelp-error'></span>
		<span class='yelp-search-status'></span>
		<span class='yelp-success'>Results by<%= image_tag 'yelp_logo.png', :height => 20, :class => 'yelp-img' %></span>
	</div>
	<ul class='yelp-results'>
		<li><a href=''><img src='' /><span></span></a></li>
	</ul>
</div>
