<div class='note-body'>
	<div class='notices'>
		<div class='note-deleted'>
			Note successfully deleted.
		</div>
		<div class='note-created'>
			Note successfully created.
		</div>
	</div>

	<h1 class='notes-heading'>My Class Notes:</h1>

	<ul class='notes'>
		<li><span class='note-body'></span> <span class='note-date'></span><a href='/notes/ID' class='likeabutton' data-method='delete' rel='nofollow'>Remove</a></li>
	</ul>

	<script data-notes type="text/json">
		<%= @notes.to_json.gsub('/', '\\/').html_safe %>
	</script>

	<script data-yelp type='text/json'>
	</script>

	<div class='add-note'>
		<%= form_for @note do |f| %>
		  <%= f.text_area :text, placeholder: 'Write something down!', :cols => 30, :rows => 7 %>
		  <%= f.submit %>
		<% end %>
	</div>
</div>


<div class='yelp-notices'>
	<span class='invalid-zipcode'>Invalid Zipcode</span>
	<span class='searching'>Searching...</span>
	<div class='results-by'><span>Results by</span><%= image_tag 'yelp_logo.png', :height => 20, :class => 'yelp-img' %></div>
</div>

<ul class='yelp-results'>



</ul>
