<!DOCTYPE html>
<html>
<head>
  <title>YogaPad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='current-user'>
    <%= current_user.nil? %>
  </div>
  <div class='sign-status'>
    <nav class='signed-in'>
      Signed in user
      <%= link_to 'Sign Out', signout_path, :class => 'sign-out' %>
    </nav>
  	<nav class='sign-actions'>
  		<span id='signup-toggle'>SignUp</span><%= render 'shared/signup' %>
  	</nav>
  </div>
  <nav class='yelp'>
    <span id='yelp'>Find Yoga Studios</span><%= render 'shared/yelp' %>
  </nav>
  <div class='notices'>
    <div class='successful-signout'>
      Successfully signed out.
    </div>
    <div class='successful-signin'>
      Welcome back, <span class='user'></span>!
    </div>
    <div class='sucessful-signup'>
      Welcome to YogaPad, <span class='user'></span>!
    </div>
    <div class='signup-errors'>
    </div>
    <div class='signin-errors'>
    </div>
  </div>
<%= yield %>

</body>
</html>
