<!DOCTYPE html>
<html>
<head>
  <title>YogaPad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <nav class='signed-in'>
      <%= current_user.username %>
    </nav>
  <% else %>
  	<nav class='sign-actions'>
      <!-- <span id='signin-toggle'>SignIn</span><%= render 'shared/signin' %> -->
  		<span id='signup-toggle'>SignUp</span><%= render 'shared/signup' %>
  	</nav>
  <% end %>
  <nav class='yelp'>
    <span id='yelp'>Find Yoga Studios</span><%= render 'shared/yelp' %>
  </nav>
  <% if flash[:success] %>
    <%= render 'application/success' %>
  <% end %>
<%= yield %>

</body>
</html>
